.App {
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
  width: 55vw;
  min-height: 38vw;
  padding: 1.5rem;
  margin: 2.5rem auto;
  background-color: rgb(237, 237, 237);
  box-shadow: 8px 8px 5px #888888;
}

.header {
  margin: 2.5rem 0 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 2.5rem;
}

li {
  margin: 1.3rem 0;
}

input,
button {
  padding: 0.5rem;
  border: 2px solid lightblue;
  font-size: 1.2rem;
  font-family: monospace;
  box-shadow: 8px 8px 5px #888888;
}

button {
  font-weight: bold;
  background-color: lightblue;
}
